.index-body {
  height: 100%;
  display: flex;
}

.index-items-container {
  box-sizing: border-box;
  padding: 15px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  width: 40%;
  z-index: -1;
  overflow: scroll;
  height: 91%;

  color: #444;
  font-weight: 700;
}

.index-items-container h2{
  display: inline;
  font-size: 25px;
  padding: 15px 20px;
}

.index-items-container span {
  font-size: 15px;
}

.index-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.index-item {
  overflow: hidden;
  width: 49%;
  height: 12.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: normal;
  background: black;
  color: white;
  position: relative;
  margin-top: 5px;
}

div.index-item-info {
  text-shadow: 0 0 0 rgba(0,0,0,1);
}

div.index-item-data {
  padding: 5px;
  position: absolute;
  bottom: 0;
}

.index-item span {
  padding: 5px 5px;
}

span.index-item-price {
  font-size: 18px;
}

.index-item-address {
  font-size: .9em;
  color: #dcdcdc;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.number-pages {
  display: flex;
  list-style-type: none;
}

.number-pages li {
  padding: 10px;
}

.number-pages button {
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
  outline: none;
  color: #444;
  background: white;
  cursor: pointer;
}

.number-pages button:hover {
  color: #0074e4;
  background-color: #eee;
}

button.page-selected {
  background-color: #444;
  color: #fff;
}

button.page-selected:hover {
  background-color: #0074e4;
  color: white;
}

button.next-page-button:hover {
  background-color: none;
  background: none;
}

.index-save {
  position: absolute;
  z-index: 20;
  top: .5em;
  right: 0;
}

.index-save-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.index-saved-image {
  width: 30px;
}

.index-unsaved-image {
  width: 30px;
}

.index-save-button:focus{
  outline: none;
}

.index-item-home {
  display: inline;
}

.index-saved-button:focus {
  outline: none;
}
