/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

/* main page */

 * {
  margin: 0;
  padding: 0;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
 }

 html {
   height: 100%;
   width: 100%;
 }

  .header-container {
    display: block;
    justify-content: space-between;
    height: 15%;
    position: relative;
  }
/* drop button */
  .header-group {
   float: right;
   margin-top: 30px; 
   margin-right: 10px;
  }

  .header-name{
    border: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown:hover .dropdown-content { display: block; }
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block
  }

  .dropdown-content a:hover {background-color: #ddd}

  .header-button {
    cursor: pointer;
  }
/*  */
  .login-signup {  
    color: black;
    border: none;
    display: block;
    background: none;
    height: 100px;
    font-size: 16px;
    position: relative;
    text-align: right;
    right: 100px;
    top: 30px;
    white-space: nowrap;
    
  }

  .login-form-box {
   border: 1px solid black;
   width: 25em;
   padding: 20px;
   justify-content: center;
   text-align: left;
   border-radius: 15px;
   background: white;
   position: absolute;

 }

/* log in form */
 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px; 
   border-radius: 15px;
   top:5%;
   
 }

  .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   background: white;
 }

 .login-input {
   text-align: left;
 }
/* session-submit-container is div that contains button */
  .session-submit-container {
    display: flex;
    justify-content: space-between;
  }
  .session-submit {
    height: 38px;
    background: #0074e4;
    color: #fff;
    border: none;
    width: 45%;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
 }
 input {
    box-sizing: border-box;
    height: 34px;
    border: 1px solid #aaa;
    width: 100%;
    padding: 10px;
    font-size: 16px;
 }

  .session-button {
    font-size: 18px;
    font-weight: 300;
    margin-right: 20px;
    padding-bottom: .7em;
    background: none;
    border: none;
    cursor: pointer
  }

  .session-button .selector {
    color: #0074e4;
    border-bottom: 2px solid #0074e4;
  }
 
  .session-button-container {
    border-bottom: 1px solid #ccc
  }

  .session-errors-log {
    color: red;
    text-align: left;
  }

  ul {
    list-style: none;
    text-align: left;
  }
/* video image */

  .video-container {
    width: 100%;
    height: 85%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    background: white;
    top: 10%;
    
  }

  #background-video{
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

 .map {
  height: 95%;
  width: 59%;
  top: 10%;
  position: absolute;
}

/* grid for property_index */
.index-items-container {
    box-sizing: border-box;
    padding: 15px 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    position: absolute;
    right: 0;
    width: 40%;
    z-index: -1;
    overflow: scroll;
    height: 90%;
  
    font-weight: 700;
    top: 10%;
}

.index-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.index-item {
    overflow: hidden;
    width: 49%;
    height: 12.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: normal;
    color: white;
    position: relative;
    margin-top: 5px;
}

.image-container {
  background: linear-gradient(rgba(0,0,0,0.45), transparent, rgba(0,0,0,0.45));
  background-size: cover;
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  content:"";  
}

.index-item-data {
  padding: 5px;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}

.image-grid {
  display:inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

/* index-container */
.map-container {
  top: 15%;
}

.index-container {
  display: flex;
}

/* show-container */

.show-container {
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: 50%;
  margin: auto;
  background: #f2f2f2;
  box-shadow: 0 0 5px;
  display: block;
  align-content: center;
  font-size: 20px;
  color: #444;
  z-index: 2;
}

.home-header {
  padding: 200px;
  display: block;
  width: 900px; 
}

.home-header-close {
  font-weight: bold;
  font-size: 18px;
  display: block;
  float: right;
}

.image-show-container {
  
  height: 40%;
  width: 95%;
  margin: auto;
  
  z-index: -1;
}

.image-show-container img {
  height: 90%;
  width: auto;
  margin: auto;
  display: block;
  object-fit: cover;
  

}

.show-item-data {
  justify-content: flex;
}

#nav {
	width: 50%;
	float: left;
	margin: 21px;
	padding: 0;
  list-style: none; 
  position: absolute;
  z-index: 1;
}
  
#nav li {
  float: left; 
  margin: 10px;
}

.container {
  display: block;
  background: white;
  width: 400px;
  height: 300px;
  float: right;
  margin: 5px;
  border-radius: 3px;
}
.container label {
  left: 20px;
}
.container input {
  width: 300px;
  display: block;
  margin: auto;
  bottom: 50px;
}

.input-container {
  display: block;
}

.container-contact {
  background: #0074e4;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  height: 40px;
  width: 100px;
  margin-top: 2em;
  display: block;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.icon-container {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  justify-content: space-between;
}

.icon {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
}

.real-estate {
  color: #312f2f;
  margin-left: 10px;
}

.fa-home {
  size: 400px;
}

.show-item-data-container {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  justify-content: space-between; 
}

