// .index-logo-image {
//   width: 120px;
//   height: 100px;
//   display: inline-block;
//   box-shadow: 0 1px 4px rgba(0,0,0,.5);
// }

.index-header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 50px;
  height: 50px;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
  z-index: 0;
  border-bottom: 1px solid #ccc;
}

.index {
  display: flex;
  height: 100px;
}
