header {
  height: 50px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login-signup button{
  color: black;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.login-signup span{
  color: black;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

.nav-links > li {
  margin: 0 10px;
  cursor: pointer;
}

.nav-links a {
  padding: 0 15px 10px 15px;
}

.nav-links .active {
  font-weight: bold;
  color: #0074e4;
  border-bottom: 4px solid #0074e4;
}
