.filter-nav {
  justify-content: space-between;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,.5);
}

.nav-filter-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.filter-nav-lists {
  display: flex;
  align-items: center;
}

.filter-nav-lists > li {
  border-right: 1px solid white;
}

.filter-nav-lists span {
  font-size: 10px;
}

.filter-nav-lists button {
  padding: 17px 10px;
  background: none;
  border: none;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}

.filter-nav button:focus{
  outline: none;
}
.filter-nav button:hover {
  color: #62aef7;
}

.index-search-bar {
  margin: 10px 20px;
  width: 225px;
  height: 30px;
  font-size: 18px;
  font-weight: 400;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 10px;
  border: 1px solid lightgray;
}

.index-search-bar:hover {
  border: 1px solid #0074e4;
}

#saved-homes-button {
  box-sizing: border-box;
  font-weight: bold;
  color: white;
  background-color: #0074e4;
  height: 100%;
  padding: 10px;
  border: none;
}

#saved-homes-button:hover {
  background-color: #1b5098;
  background: linear-gradient(to top,#0074e4,#1b5098);
}
